# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

#Eclipse
bin/

#Java
*.class

# Package Files #
*.jar
*.war
*.ear
/.settings/

# Py temp
#
*.py.swo
